<li class="list" id="list-<%= list.id %>">
  <a class="list-link" href="<%= list_path(user, list) %>"></a>
  <div class="list-content">
    <%= render partial: 'lists/active_form',
               locals: { user: user,
                         list: list } %>
    <div class="list-text over-text">
      <span class="middle-y"><%= list.content %></span>
    </div>
    <% if current_user?(user) && list.active? %>
      <%= render 'lists/check_form', list: list %>
    <% end %>
  </div>
</li>