<% provide(:title, "ログイン") %>
<% provide(:og_title, "ログイン") %>
<% provide(:og_url, login_url) %>

<div class="container content-lspace">
  <div class="title-lspace c">
    <h1>NoDoBoIDでログイン</h1>
  </div>
  <div class="form">
    <%= form_tag('/login', method: "post") do %>
      <div class="field">
        <%= text_field_tag :account_id, nil,
                           placeholder: "NoDoBoID (a-z,-0-9,_ 15文字以内)" %>
      </div>
      <div class="field">
        <%= password_field_tag :password, nil,
                               placeholder: "パスワード" %>
      </div>
      <div class="button-small button-accent">
        <%= submit_tag "ログイン", data: { disable_with: "処理中..." } %>
      </div>
      <div class="attention c">
        <p><%= link_to "パスワードを忘れた", new_password_reset_path %></p>
      </div>
      <div class="attention c">
        <p><%= link_to "アカウントを持っていない", signup_path %></p>
      </div>
    <% end %>
  </div>
</div>