<li class="list" id="user-<%= user.id %>">
  <a class="list-link" href="<%= user_path(user) %>"></a>
  <div class="list-content">
    <div class="list-urank active-count c"><%= user.id %></div>
    <div class="list-uicon">
      <%= image_tag(image_url(user), size: 55,
                    alt: user.name, class: "middle-xy") %>    
    </div>
    <div class="list-uinfo over-name">
      <%= user.name %>
    </div>
    <% unless user.admin? %>
      <div class="list-avail list-delete">
        <%= link_to fa_icon('trash'), list_admin_path(user),
                    method: :delete, class: "middle-xy c",
                    data: { confirm: "本当に削除してよろしいですか？" } %>
      </div>
    <% end %>
  </div>
</li>