<% list = mylist.list %>
<li class="list" id="list-<%= mylist.id %>">
  <a class="list-link" href="<%= mylist_user_path(mylist.user, mylist) %>"></a>
  <div class="list-content">
    <%= render partial: 'mylists/active_form',
               locals: { user: user,
                         mylist: mylist } %>
    <div class="list-text over-text">
      <span class="middle-y"><%= list.content %></span>
    </div>
    <% if current_user?(user) %>
      <div class="list-check" id="active-check-<%= mylist.id %>">
        <%= render 'mylists/check_form', mylist: mylist %>
      </div>
    <% else %>
      <%= render partial: 'lists/avail_form',
                 locals: { list: list } %>
    <% end %>
  </div>
</li>