<% provide(:title, @user.name + "さんのやらないことリスト") %>
<% provide(:og_title, @user.name + "さんのやらないことリスト") %>
<% provide(:og_url, mylists_user_url(@user)) %>
<% provide(:og_desc, "便乗する！") %>
<% provide(:og_image, @og_image_url ) %>

<div class="container content-nspace">
  <div class="title-nspace c">
    <% if current_user?(@user) %>
      <h1>マイリスト一覧</h1>
    <% else %>
      <h1><%= @user.name %>さんのリスト一覧</h1>
    <% end %>
  </div>
  <div class="border"></div>
  <% if @mylists.any? %>
    <% if current_user?(@user) %>
      <%= render partial: 'shared/list_item',
                 locals: { left: '実行状況',
                           center: '内容',
                           right: 'Dayチェック' } %>
    <% else %>
      <%= render partial: 'shared/list_item',
                 locals: { left: '実行状況',
                           center: '内容',
                           right: '便乗？' } %>
    <% end %>
    <ul>
      <%= render partial: @mylists,
                 locals: { user: @user,
                           cuser_list_ids: @cuser_list_ids } %>
    </ul>
  <% else %>
    <%= render partial: 'shared/no_data',
               locals: { icon: 'list',
                         text: 'list-search',
                         user: @user } %>
  <% end %>
</div>