<div class="blank"></div>
<div class="container content-nspace">
  <div class="title-nspace c">
    <h2>実行リスト一覧</h2>
    <div class="side-option">
      <%= link_to fa_icon("list-ul" ,class: "middle-x") +
                  "<p>全リスト</p>".html_safe,
                  mylists_user_path(user) %>
    </div>
  </div>
  <div class="border"></div>
  <% if @mylists_count == 0 %>
    <%= render partial: 'shared/no_data',
               locals: { icon: 'list',
                         text: 'list',
                         user: user } %>
  <% else %>
    <% if current_user?(user) %>
      <%= render partial: 'shared/list_item',
                 locals: { left: '実行状況',
                           center: '内容',
                           right: 'Dayチェック' } %>
    <% else %>
      <%= render partial: 'shared/list_item',
                 locals: { left: '実行状況',
                           center: '内容',
                           right: '便乗？' } %>
    <% end %>
    <div class="border"></div>
    <ul>
      <%= render partial: @mylists,
                 locals: { user: user,
                           cuser_list_ids: cuser_list_ids } %>
    </ul>
  <% end %>
</div>
<% if current_user?(user) && user.uid.present? && @mylists_count != 0 %>
  <div class="container content-sspace">
    <div class="title-nspace c" style="padding: 0 0 10px;">
      <h3>Twitterで宣言して実行度をあげよう！</h3>
    </div>
    <div class="explanation">
      <p>
        <%= fa_icon('info-circle') %> まだツイートされません！ツイート画像のプレビューページへとびます！
      </p>
    </div>
    <div class="button-small button-twitter c" style="margin: 0 auto;">
      <%= link_to fa_icon('twitter') + " 宣言する！", posts_path,
                  method: :post, data: { disable_with: "処理中..." } %>
    </div>
  </div>
<% end %>