<div class="blank"></div>
<div class="container content-nspace">
  <div class="title-nspace c">
    <h2>実行リスト一覧</h2>
    <div class="side-option">
      <%= link_to fa_icon("list-ul" ,class: "middle-x") +
                  "<p>全リスト</p>".html_safe,
                  mylists_user_path(user) %>
    </div>
  </div>
  <div class="border"></div>
  <% if @mylists_count == 0 %>
    <%= render partial: 'shared/no_data',
               locals: { icon: 'list',
                         text: 'list',
                         user: user } %>
  <% else %>
    <% if current_user?(user) %>
      <%= render partial: 'shared/list_item',
                 locals: { left: '実行状況',
                           center: '内容',
                           right: 'Dayチェック' } %>
    <% else %>
      <%= render partial: 'shared/list_item',
                 locals: { left: '実行状況',
                           center: '内容',
                           right: '便乗？' } %>
    <% end %>
    <div class="border"></div>
    <ul>
      <%= render partial: @mylists,
                 locals: { user: user,
                           cuser_list_ids: cuser_list_ids } %>
    </ul>
  <% end %>
</div>
<%= render partial: 'shared/post_lead',
           locals: { user: user,
                     mylists_count: @mylists_count } %>