<% provide(:title, "設定") %>
<% provide(:og_title, "設定") %>
<% provide(:og_url, setting_url) %>

<div class="container content-sspace">
  <div class="button-back button-mini button-logout c">
    <%= link_to "ログアウト", logout_path, rel: "nofollow", data: { method: :delete } %>
  </div>
</div>
<div class="blank"></div>
<div class="container content-mspace">
  <div class="title-mspace">
    <h1>プロフィール設定</h1>
  </div>
  <div class="form">
    <%= form_for(@user, url: setting_path) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <div class="label">
        <%= f.label :image, "アイコン" %>
      </div>
      <div class="info">
        <p>
          <%= fa_icon('info-circle') %> プレビューの通り、切り抜かれます。
        </p>
      </div>
      <div class="field-file">
        <%= f.label :image, class: "button-upload" do %>
          <div class="icon-upload">
            <% if @user.image.blank? %>
              <%= fa_icon("camera", class: "middle-xy") %>
            <% else %>
              <%= fa_icon("refresh") %>
            <% end %>
          </div>
          <% if @user.image.blank? %>
            <div class="preview"></div>
          <% else %>
            <div class="preview">
              <%= image_tag(image_url(@user),
                            alt: @user.name,
                            size: 100,
                            class: "cover" ) %>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class="field-hidden">
        <%= f.file_field :image %>
        <%= f.hidden_field :image_cache %>
      </div>
      <div class="label">
        <%= f.label :account_id, "ユーザー名" %>
      </div>
      <div class="field">
        <%= f.text_field :account_id,
                         placeholder: "nodopouID (a-z,-0-9,_ 15文字以内)" %>
      </div>
      <div class="label">
        <%= f.label :name, "表示名" %>
      </div>
      <div class="field">
        <%= f.text_field :name %>
      </div>
      <div class="label">
        <%= f.label :check_reset_time, "リスト更新時間" %>
      </div>
      <div class="info">
        <p>
          <%= fa_icon('info-circle') %> リストのチェック数や継続日数を記録する時間です。（推奨）寝てる間、早朝などの一日の始まり
        </p>
      </div>
      <div class="field field-select">
        <%= f.select(:check_reset_time,
                     options_for_select(time_array, @user.check_reset_time)) %>
        <div class="c select-icon"><%= fa_icon("chevron-down") %></div>
      </div>
      <div class="label">
        <label for="user_password">パスワード<span>（更新したいときのみ入力）</span></label>
      </div>
      <div class="field">
        <%= f.password_field :password, placeholder: "新しいパスワード" %>
      </div>
      <div class="label">
        <%= f.label :profile, "プロフィール" %>
      </div>
      <div class="field field-area">
        <%= f.text_area :profile %>
      </div>
      <div class="button-small button-accent" style="margin: 20px auto;">
        <%= f.submit "更新する", data: { disable_with: "処理中..."} %>
      </div>
    <% end %>
  </div>
</div>
<% if current_user?(@user) && @user.uid.nil? %>
  <div class="blank"></div>
  <div class="container content-mspace">
    <div class="title-mspace">
      <h2>Twitter連携</h2>
    </div>
    <div class="info">
      <p>
        <%= fa_icon('info-circle') %> 
        Twitter連携すると、Twitterでやらないことリストを宣言（シェア）できるようにもなります。 
      </p>
    </div>
    <div class="attention" style="margin: 0 0 0 5px">
      <p><small>
        <%= link_to "Twitterで宣言するメリットって？", about_path + "#other-function" %>
      </small></p> 
    </div>
    <div class="button-middle button-twitter c" style="margin: 20px auto;">
      <%= link_to fa_icon('twitter') + " Twitter連携する", '/auth/twitter',
                  data: { disable_with: "処理中..." } %>
    </div>
  </div>
<% end %>
<% if current_user?(@user) %>
  <div class="blank"></div>
  <div class="container content-mspace">
    <div class="title-mspace">
      <h2>退会</h2>
    </div>
    <div class="text-danger">
      <p>
        <%= fa_icon('exclamation-triangle') %>退会すると全てのリストに関する情報が削除され、復帰することはできません。
      </p>
    </div>
    <div class="button-small button-danger c" style="margin: 20px auto;">
      <%= link_to "退会する", current_user, method: :delete,
                  data: { confirm: "退会を取り消すことはできません。本当によろしいですか？" } %>
    </div>
  </div>
<% end %>
<% if @user.admin? %>
  <div class="blank"></div>
  <div class="container content-mspace">
    <div class="button-small button-back c" style="margin: 20px auto;">
      <%= link_to "管理者ページ", current_user %>
    </div>
  </div>
<% end %>