<% provide(:title, "設定") %>
<% provide(:og_title, "設定") %>
<% provide(:og_url, setting_url) %>

<div class="container content-mspace">
  <div class="title-mspace">
    <h1>プロフィール設定</h1>
  </div>
  <div class="form">
    <%= form_for(@user, url: setting_path) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <div class="label">
        <%= f.label :image, "アイコン" %>
        <p class="label-comment">※プレビューの通り、切り抜かれます。</p>
      </div>
      <div class="field-file">
        <%= f.label :image, class: "button-upload" do %>
          <div class="icon-upload">
            <% if @user.image.blank? %>
              <%= fa_icon("camera") %>
            <% else %>
              <%= fa_icon("refresh") %>
            <% end %>
          </div>
          <% if @user.image.blank? %>
            <div class="preview"></div>
          <% else %>
            <div class="preview">
              <%= image_tag(image_url(@user),
                            alt: @user.name,
                            size: 100,
                            class: "cover" ) %>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class="field-hidden">
        <%= f.file_field :image %>
        <%= f.hidden_field :image_cache %>
      </div>
      <div class="label">
        <%= f.label :account_id, "ユーザー名" %>
      </div>
      <div class="field">
        <%= f.text_field :account_id %>
      </div>
      <div class="label">
        <%= f.label :name, "表示名" %>
      </div>
      <div class="field">
        <%= f.text_field :name %>
      </div>
      <div class="label">
        <label for="user_password">パスワード<span>（更新したいときのみ入力）</span></label>
      </div>
      <div class="field">
        <%= f.password_field :password, placeholder: "新しいパスワード" %>
      </div>
      <div class="label">
        <%= f.label :profile, "プロフィール" %>
      </div>
      <div class="field field-area">
        <%= f.text_area :profile %>
      </div>
      <div class="button-small button-accent">
        <%= f.submit "更新する", data: { disable_with: "処理中..."} %>
      </div>
    <% end %>
  </div>
</div>
<div class="blank"></div>
<div class="container content-mspace">
  <div class="title-mspace">
    <h2>メール通知設定</h2>
  </div>
  <div class="form">
    <%= form_for(@user, url: email_setting_path ) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <div class="label">
        <%= f.label :email, "メールアドレス" %>
        <% if @user.email.match(/@example.com/).present? %>
          <p class="label-comment">※ご自身の正確なメールアドレスに変更してください。</p>
        <% end %>
      </div>
      <div class="field">
        <%= f.email_field :email %>
      </div>
      <div class="field-checkbox clear">
        <div class="button-checkbox">
          <%= f.check_box :is_send_email, {}, true, false %>
          <%= f.label :is_send_email do %>
            <span></span>
          <% end %>
          <div class="slide"></div>
        </div>
        <div class="label-checkbox">
          その日の終わりに振り返りメールを送ります
        </div>
      </div>
      <div class="button-small button-accent">
        <%= f.submit "更新する", data: { disable_with: "処理中..."} %>
      </div>
    <% end %>
  </div>
</div>
<% if logged_in? && current_user?(@user) %>
  <div class="blank"></div>
  <div class="container content-mspace">
    <div class="title-mspace">
      <h2>退会</h2>
    </div>
    <div class="text-danger">
      <p>
        <%= fa_icon('exclamation-triangle') %>退会すると全てのリストに関する情報が削除され、復帰することはできません。
      </p>
    </div>
    <div class="button-small button-danger c">
      <%= link_to "退会する", current_user, method: :delete,
                  data: { confirm: "退会を取り消すことはできません。本当によろしいですか？" } %>
    </div>
  </div>
<% end %>