<% provide(:title, "新規登録") %>
<% provide(:og_title, "新規登録") %>
<% provide(:og_url, signup_url) %>

<div class="container content-lspace">
  <div class="title-lspace c">
    <h1>nodopouIDで登録</h1>
  </div>
  <div class="form">
    <%= form_for(@user, url: signup_path) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <div class="field">
        <%= f.text_field :account_id,
                         placeholder: "nodopouID (a-z,-0-9,_ 15文字以内)" %>
      </div>
      <div class="field">
        <%= f.password_field :password,
                          placeholder: "パスワード" %>
      </div>
      <div class="attention c">
        <p>
          ※<%= link_to "利用規約", terms_path %>、<%= link_to "プライバシーポリシー", privacy_path %>をご確認の上ご登録ください。
        </p>
      </div>
      <div class="button-small button-accent">
        <%= f.submit "登録する", data: { disable_with: "処理中..." } %>
      </div>
      <div class="attention c">
        <p><%= link_to "アカウントを持っている", login_path %></p>
      </div>
    <% end %>
  </div>
</div>