<% provide(:title, @user.name + "(@" + @user.account_id + ")さん") %>
<% provide(:og_title, @user.name + "(@" + @user.account_id + ")さん") %>
<% provide(:og_url, user_url(@user)) %>

<div class="container content-mspace c">
  <div class="user-set">
    <%= link_to fa_icon('cog'), setting_path %>
  </div>
  <div class="user-image">
    <%= image_tag(image_url(@user), size: 100, alt: @user.name) %>
  </div>
  <div class="user-name">
    <h1><%= @user.name %></h1>
  </div>
  <div class="user-aid">
    @<%= @user.account_id %>
  </div>
  <div class="user-profile">
    <small><%= @user.profile %></small>
  </div>
</div>
<div class="blank"></div>
<% if logged_in? && current_user?(@user) %>
  <div class="container content-mspace">
    <div class="title-mspace">
      <h2>リスト追加</h2>
    </div>
    <div class="form">
      <%= form_for(@list, url: lists_url(@user)) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <div class="field field-area">
          <%= f.text_area :content %>
        </div>
        <div class="button-small button-accent">
          <%= f.submit "追加する", data: { disable_with: "処理中..." } %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
<div class="logout">
  <a rel="nofollow" data-method="delete" href="<%= logout_path %>">
    <p>ログアウト</p>
  </a>
</div>