<% provide(:title, @user.name + "(@" + @user.account_id + ")さん") %>
<% provide(:og_title, @user.name + "(@" + @user.account_id + ")さん") %>
<% provide(:og_url, user_url(@user)) %>

<div class="container content-mspace c">
  <% if logged_in? && current_user?(@user) %>
    <div class="side-option side-link1">
      <%= link_to fa_icon('cog', class: "middle-x") +
                  "<p>設定</p>".html_safe,
                  setting_path %>
    </div>
  <% end %>
  <div class="user-image">
    <%= image_tag(image_url(@user), size: 100, alt: @user.name) %>
  </div>
  <div class="user-name">
    <h1><%= @user.name %></h1>
  </div>
  <div class="user-aid">
    @<%= @user.account_id %>
  </div>
  <div class="user-profile">
    <small><%= @user.profile %></small>
  </div>
</div>
<div class="blank"></div>
<div class="container content-nspace">
  <div class="title-nspace c">
    <h2>実行リスト一覧</h2>
    <div class="side-option side-link2">
      <%= link_to fa_icon("list-ul" ,class: "middle-x") +
                  "<p>全リスト</p>".html_safe,
                  mylists_path(@user) %>
    </div>
  </div>
  <div class="border"></div>
  <% if @mylists.any? %>
    <ul>
      <%= render partial: @mylists,
                 locals: { user: @user } %>
    </ul>
  <% else %>
    <%= render partial: 'shared/no_data',
               locals: { icon: 'list',
                         text: 'list' } %>
  <% end %>
</div>
<div class="blank"></div>
<% if logged_in? && current_user?(@user) %>
  <div class="container content-nspace">
    <div class="title-nspace c">
      <h2>リスト検索・追加</h2>
      <div class="side-option side-link3">
        <%= link_to fa_icon("search", class: "middle-x") +
                    "<p>リスト検索</p>".html_safe,
                    search_path %>
      </div>
    </div>
    <div class="border"></div>
    <div class="content-mspace form form-inner">
      <%= render 'shared/search_form' %>
    </div>
    <div class="border"></div>
    <div class="content-mspace form">
      <%= form_for(@list, url: lists_url(@user)) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <div class="field field-area list-area">
          <%= f.text_area :content %>
        </div>
        <div class="button-small button-accent">
          <%= f.submit "追加する", data: { disable_with: "処理中..." } %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
<div class="logout">
  <a rel="nofollow" data-method="delete" href="<%= logout_path %>">
    <p>ログアウト</p>
  </a>
</div>