<% provide(:title, "このサイトについて") %>
<% provide(:og_title, "このサイトについて") %>
<% provide(:og_url, about_url) %>

<div class="blank "></div>
<div class="container content-nspace" id="what">
  <div class="title-nspace c">
    <h2>nodopouとは？</h2>
  </div>
  <div class="border"></div>
  <div class="content-sspace c">
    <p>シンプルなやらないこと（Not-To-Do）リストが気軽に簡単に作れるサービスです。</p>
  </div>
</div>
<div class="blank "></div>
<div class="container content-nspace" id="why">
  <div class="title-nspace c">
    <h2>なんでNot-To-Do？</h2>
  </div>
</div>
<div class="border"></div>
<div class="container content-sspace">
  <div class="info c" style="margin: 0;">
    <p>小学校の夏休みの宿題</p>
    <p>今年こそ早めに終わらよう！って思ってたけど</p>
    <p>いろんな誘惑に負けて、ついつい後回し</p>
    <p class="mb">そして、気づいたら8月ももう終わり...</p>
    <p class="mb">いくつになっても同じことってありませんか？</p>
    <p>それは「やるべきこと（To-Do）」に目がいき過ぎて</p>
    <p class="mb">「やらないこと（Not-To-Do）」を無視してしまっているからかも...</p>
    <p>でも、やるべきことにはエネルギーがいるけど</p>
    <p class="mb">やるないことにエネルギーは必要ない</p>
    <p class="mb">だから、「やらない」ことは気軽に始められる</p>
    <p>「やるべきこと」につなげるために</p>
    <p class="mb">まずは、「やらないこと」から</p>
  </div>
</div>
<div class="blank "></div>
<div class="container content-nspace" id="how">
  <div class="title-nspace c">
    <h2>使い方</h2>
  </div>
  <div class="border"></div>
  <%= render 'shared/how_to_use_steps' %>
</div>
<div class="blank "></div>
<div class="container content-nspace" id="other-function">
  <div class="title-nspace c">
    <h2>その他の機能</h2>
  </div>
  <div class="border"></div>
  <div class="how-to-use">
    <div class="step clear">
      <div class="step-figure twi-blue c"><%= fa_icon('twitter') %></div>
      <div class="step-text">
        <p><b>・Twitterに投稿してシェア（宣言）できる</b></p>
        <p class="wred"><small>　※Twitter連携をする必要があります。</small></p>
        <p>→ 人に宣言することで実行度（やらない度）を上げられる</p>
        <p>→ まわりに認知してもらえて、誘いなどをシャットアウトできる</p>
        <p>→ あなたの投稿が誰かの「やらない」につながる</p>
      </div>
    </div>
    <div class="step-image">
      <%= image_tag("/images/sample00.png", alt: "sample00") %>
    </div>
    <% if logged_in? && current_user.uid.nil? %>
      <div class="button-middle button-twitter c" style="margin: 20px auto;">
        <%= link_to fa_icon('twitter') + " Twitter連携する", '/auth/twitter',
                    data: { disable_with: "処理中..." } %>
      </div>
    <% end %>
    <div class="border"></div>
    <div class="step clear">
      <div class="step-figure c">
        <div class="count-dummy">
          <span>7</span>
        </div>
      </div>
      <div class="step-text">
        <p><b>・達成回数、継続日数が自動で記録できる</b></p>
        <p>→ 積み重ねを数字で見れて、モチベーションを保つのに役立つ</p>
      </div>
    </div>
    <div class="border"></div>
    <div class="step clear">
      <div class="step-figure c">
        <div class="active-dummy form">
          <div class="field-checkbox4 clear">
            <div class="button-checkbox">
              <div class="button-main">
                <div class="button-slide button-passive" id="active-dummy">
                  <span></span>
                </div>
              </div>
              <div class="slide slide-on"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="step-text">
        <p><b>・実行状況をワンクリックで切り替えれる</b></p>
        <p>→ 「やらない」ことを一時的に停止することが気軽にできる</p>
        <p>→ 一度停止したものもすぐにまた再開できる</p>
      </div>
    </div>
  </div>
</div>
<% unless logged_in? %>
  <%= render 'shared/popup_login', type: "auto" %>
<% end %>