<% provide(:og_title, "nodopou -シンプルnotToDoリスト-") %>
<% provide(:og_url, root_url) %>

<div class="content-mspace container c">
  <div class="top-title">
    <h1>シンプルな「やらない」ことリストが簡単に作れるサービスです！</h1>
  </div>
  <div class="top-text">
    <p><%= fa_icon('search') %> 「やらない」を探す！</p>
    <p>↓</p>
    <p><%= fa_icon('handshake-o') %>「やらない」に便乗する！</p>
    <p>↓</p>
    <p><%= fa_icon('check-square-o') %>「やらない」をふりかえる！</p>
  </div>
</div>
<div class="content-lspace container c">
  <div class="top-main">
    <div class="top-enter">
      <div class="c button-large button-twitter">
        <%= link_to fa_icon("twitter") + "Twitterで登録/ログイン", '/auth/twitter' %>
      </div>
      <div class="c button-large button-accent">
        <%= link_to "nodopouIDで登録する", signup_path %>
      </div>
      <div class="c button-big button-mini button-waccent">
        <%= link_to fa_icon("sign-in") + " nodopouIDでログイン", login_path %>
      </div>
    </div>
  </div>
</div>