<% provide(:og_title, "nodopou ～シンプルNot-To-Doリスト～") %>
<% provide(:og_url, root_url) %>
<% provide(:og_type, "website") %>

<div class="content-sspace container">
  <div class="top-title c">
    <h1>「やらない」ことから<br>始めてみよう！</h1>
  </div>
  <div class="top-text">
    <p class="mb">身の回りには「やるべき」ことがたくさん。</p>
    <p>でもついつい誘惑に負けて、</p>
    <p class="mb">気づいたらもうこんな時間なんてことも…</p>
    <p>そんなときは「やらない」ことから</p>
    <p class="mb">気軽に始めてみよう！</p>
    <p>nodopouならシンプルな「やらない」こと</p>
    <p>リストが簡単に作れます。</p>
  </div>
</div>
<div class="content-mspace container c">
  <div class="top-main">
    <div class="top-enter">
      <div class="attention" style="margin: 0 auto 5px;">
        <p class="red">
          10秒で登録完了！
        </p>
      </div>
      <div class="c button-large button-twitter" style="margin: 0 auto 20px;">
        <%= link_to fa_icon("twitter") + "Twitterで登録/ログイン", '/auth/twitter' %>
      </div>
      <div class="attention">
        <p>
          nodopouIDで  <%= link_to "登録", signup_path %>  /  <%= link_to "ログイン", login_path %>
        </p>
      </div>
    </div>
  </div>
</div>
<div class=blank></div>
<div class="content-nspace container">
  <div class="title-nspace c">
    <h2>nodopou の使い方</h2>
  </div>
  <div class="side-option c">
    <%= link_to fa_icon("question", class: "middle-x") +
                "<p>他にできること</p>".html_safe,
                about_path + "#other-function" %>
  </div>
</div>
<div class="border"></div>
<div class="content-sspace container c">
  <div class="top-howtouse">
    <p><%= fa_icon('twitter') %> Twitter経由で簡単登録！</p>
    <p>↓</p>
    <p><%= fa_icon('search') %> 「やらない」を探す！</p>
    <p>↓</p>
    <p><%= fa_icon('handshake-o') %>「やらない」に便乗する！ or <%= fa_icon("plus") %> 簡単作成！</p>
    <p>↓</p>
    <p><%= fa_icon('check-square-o') %>「やらない」をふりかえる！</p>
  </div>
</div>