<% provide(:title, "検索") %>
<% provide(:og_title, "検索") %>
<% provide(:og_url, search_url) %>

<div class="container content-nspace">
  <div class="title-nspace c">
    <h1>リスト検索</h1>
  </div>
  <div class="border"></div>
  <div class="content-mspace form form-inner">
    <%= render 'shared/search_form' %>
  </div>
  <div class="border"></div>
  <% unless params[:keyword].nil? %>
    <% if @lists.any? %>
      <%= render partial: 'shared/list_item',
                 locals: { left: '便乗人数',
                           center: '内容',
                           right: '便乗？' } %>
      <ul class="rank">
        <%= render partial: @lists,
                   locals: { user: current_user } %>
      </ul>
    <% else %>
      <%= render partial: 'shared/no_data',
                 locals: { icon: nil,
                           text: 'no-hit' } %>
    <% end %>
  <% else %>
    <%= render partial: 'shared/no_data',
                 locals: { icon: 'search',
                           text: 'search' } %>
  <% end %>
</div>