<footer  class="container content-mspace c">
  <div class="footer-link">
    <%= link_to fa_icon("caret-right") + "登録/ログインはTOPへ", root_path %>
  </div>
  <div class="footer-link">
    <%= link_to "このサイトについて",   about_path %>
    <%= link_to "お問い合わせ", '#' %>
    <%= link_to "利用規約", terms_path %>
    <%= link_to "プライバシーポリシー", privacy_path %>
  </div>
  <div class="twitter-link c">
    <%= link_to fa_icon("twitter"), '#' %>
  </div>
  <div class="footer-link copyright">
    <%= link_to fa_icon("copyright") + "2018 NoDoBotoke", root_path %>
  </div>
</footer>